
*
{
    border:1px solid black;
}
.hero .background
{
    background: linear-gradient(to right, rgba(0,0,0,0.9),rgba(0,0,0,0.2)),url(../../public/images/web/bg.jpg );
    background-size: cover;
    background-position: center;
}